<h3>Author</h3>
<p>
    <div class="media">
        <p>
                <a href="https://www.google.com/+MaryMosman">
                    <i class="fa fa-google" style="color:red;"></i>&nbsp;Mary Mosman
                </a>
            </p>
        <img src="https://avatars3.githubusercontent.com/u/5143491?v=2&s=100" alt="Mary Mosman" class="pull-left">
        <div class="media-body">
            
            <p>A developer gone instructor, currently teaching at Hennepin Technical College.</p>
            
        </div>
    </div>
</p>